body {
    background-color: beige;
    margin: 0;
    font-family: serif;
}

#header {
    display: flex;
    width: "100%";
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.banner-slider {
    display: flex;
    width: "100%";
    flex-direction: row;
    justify-content: space-around;
}

.odd {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 1.0rem;
    color: black;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px;
    /* margin-left: 150px; */
    /* margin-bottom: 50px; */
    font-weight: bold;
    letter-spacing: 1px;
}

.even {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s;

}

.even:hover {
    color: rgb(236, 200, 120);
    transform: scale(1.10);
}

.slide {
    /* display: inline-block; */
    margin-bottom: 30px;
    /* margin-left: 150px; */
    text-align: center;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-weight: 10px;
    word-spacing: 0.5px;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(61, 35, 2);
}

p {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 100;
}

h3 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 2PX;

}

.categories {
    margin-left: 150px;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    color: rgb(75, 55, 1);
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    justify-content: space-between;
}

.product {
    display: inline-block;
    /* margin-left: 150px; */
    margin-bottom: 30px;
    text-align: center;
}

.footer-links {
    font-family: Arial;
    font-size: 1.0rem;
    margin-bottom: 30px;
    color: black;
    text-decoration: none;
    margin-left: 150px;
}

#footer {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    margin-left: 150px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px;
    letter-spacing: 2px;
}

#footer:hover {
    background-color: rgb(231, 206, 96);
}

.button {
    border-radius: 10px;
    /* background-color:rgb(105, 88, 13); */
    cursor: pointer;
    /* border-color: rgb(105, 88, 13); */
    color: rgb(0, 0, 0);
    border: none;
    /* padding: 10px, 20px; */
    font-weight: bold;
    font-size: 16px;
    /* transition: background-color 0.3s ease, transform 0.2s; */

}

a {
    font-family: sans-serif;
}

/*
button:hover{
    background-color:beige;
    transform: scale(1.05);
}
button:active{
     background-color: bisque;
     transform: scale(0.98s);
} */
p.info {
    text-align: center;
}

.subheading {
    margin-bottom: 100px;
}

#social {
    text-decoration: none;
    color: black;
    font-family: Arial;
    display: inline-block;
    gap: 5px;

}

.card-image {
    /* background-size: contain; */
    object-fit: contain;
    width: 300px;
    height: 157px;
    /* border: 5px solid #f0c040;   */
    border-radius: 10px;
}

.card {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #f0c040;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.bakery-image:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.bakery-image {
    width: 200px;
    height: 157px;
    object-fit: contain;
    border: 5px solid #f0c040;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.milk-image:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.produce-image {
    width: 200px;
    height: auto;
    border: 5px solid #f0c040;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.produce-image:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.summer-image {
    width: 400px;
    height: auto;
    border: 5px none #8cc1e0;
    border-radius: 10px;
}

.fresh-image {
    width: 400px;
    height: auto;
    border: 5px none #8cc1e0;
    border-radius: 10px;
}

.apple-image {
    width: 200px;
    height: auto;
    border: 5px #f0c040;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.apple-image:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.diary-image {
    width: 200px;
    height: auto;
    border: 5px solid #f0c040;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.diary-image:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#tag {
    font-size: 30px;
    font-weight: bold;
    color: #f0c040;
    margin-top: 5px;
    margin-bottom: 20px;
}

.facebook-image {
    object-fit: contain;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    /* border: 5px none;   */
    /* border-radius: 20px;         */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   */
    transition: transform 0.3s ease;
    gap: 8px;

}

.facebook-image:hover {
    transform: scale(1.05);
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  */
}

/* .twitter-image{
    width: 100px;               
    height: auto;               
    border: 5px none;  
    border-radius: 20px;        
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    transition: transform 0.3s ease;  
    gap: 8px;
    
}
.twitter-image:hover{
    transform: scale(1.05);     
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}
.instagram-image{
    width: 100px;               
    height: auto;               
    border: 5px none;  
    border-radius: 20px;        
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    transition: transform 0.3s ease;  
    
}
.instagram-image:hover{
    transform: scale(1.05);     
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
} */
.social-media {
    gap: 8px;
}

@media screen and (max-width:430px) {
    .phone {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: 10px 30px;
        /* margin-left: 30px;
        margin-right: 30px; */
    }

    #header {
        /* display: flex; */
        /* width: "100%"; */
        flex-direction: column;
        /* justify-content: space-around; */
        margin-bottom: 50px;
    }
}